{%  extends 'app_project/base.html' %}


{% block content %}
<ul>
{%  for user in users %}
{%  if user.role == "CREATOR" or user.role == "Créateur" %}
<li>
user: {{ user.username }} with role: {{ user.role }} attributed to group: {{  group1.name }} 
</li><br/>
{% endif %}
{% if user.role == "SUBSCRIBER" or user.role == "Abonné"  %}
<li>
user: {{ user.username }} with role: {{ user.role }} attributed to group: {{  group2.name }} <br/>
</li>
{% endif %}
{%  endfor %}
</ul>
<br/>  {{ message }} 




{% endblock content %}
